<h1>Population API</h1>

<h2>Enter Zip Code</h2>
<%= form_tag ({action: :get_pop}) do %>
    <%= file_field_tag :number %>
    <%= submit_tag "Submit" %>
<% end %>

<table>
    <thead>
        <tr>
            <th>ZIP</th>
            <th>CBSA</th>
        </tr>
    </thead>
    <tbody>
        <% @data.each do |zip| %>
        <tr>
            <td><%= zip.zip %></td>
            <td><%= zip.cbsa %></td>
        </tr>
        <% end %>
    </tbody>
</table>
